.badge{
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
    color: wheat;
    background-color: rgb(63, 63, 63);
}
.listItems{
    width: max-content;
    padding:0px 15px 0px 10px;
    border-radius: 5px;
    border: 0.1px solid rgb(207, 206, 206);
}
ul{
    padding-left: 0px;
}
ul li{
    padding: 10px 5px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    margin-bottom: 10px;
    list-style: none;
    cursor: pointer;
}
ul li:hover{
    background-color: lightgrey;
}
.selected{
    background-color: lightseagreen;
}